pyvista
tetgen
pytest
pytest-cov
coverage
pandas
pyarrow
networkx>=3.0
k3d
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability