version: 2.1

orbs:
  python: circleci/python@2.1.1

executors:
  my-executor:
    docker:
      - image: cimg/python:3.10

jobs:
  run_tests_3_10:
    executor: my-executor
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Install project
          command: |
            poetry install --with test
      - run:
          name: Run tests and generate coverage report
          command: |
            chmod +x ./run_tests_with_coverage.sh
            ./run_tests_with_coverage.sh
      - run:
          name: Upload coverage reports to Codecov
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            chmod +x codecov
            ./codecov -t ${CODECOV_TOKEN}
      - store_artifacts:
          name: Store coverage report as artifact
          path: htmlcov
      - store_test_results:
          name: Store test results
          path: test-results

  deploy_to_test_pypi:
    executor: my-executor
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Add new command
          command: chmod +x ./export_requirements.sh
      - run:
          name: Build project
          command: |
            poetry check
            poetry lock
            ./export_requirements.sh 
            poetry install
            poetry build
      - run:
          name: Deploy to TestPyPI
          command: |
            poetry config repositories.testpypi https://test.pypi.org/legacy/
            poetry config pypi-token.testpypi $TEST_PYPI_TOKEN
            poetry publish -r testpypi --skip-existing

  deploy_to_pypi:
    executor: my-executor
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Add new command
          command: chmod +x ./export_requirements.sh
      - run:
          name: Build project
          command: |
            poetry check
            poetry lock
            ./export_requirements.sh 
            poetry install
            poetry build
      - run:
          name: Deploy to PyPI
          command: |
            poetry config pypi-token.pypi $PYPI_TOKEN
            poetry publish --skip-existing

workflows:
  test_and_deploy:
    jobs:
      - run_tests_3_10

      - deploy_to_test_pypi:
          context:
            - TestPyPI deploy
          requires:
            - run_tests_3_10
          filters:
            branches:
              only:
                - test

      - deploy_to_pypi:
          context:
            - PyPI deploy
          requires:
            - run_tests_3_10
          filters:
            branches:
              only:
                - main
                