ipython
myst_parser
nbsphinx
sphinx-gallery
sphinx_copybutton
sphinxcontrib-bibtex
nbsphinx-link
sphinxcontrib-svg2pdfconverter
sphinx_design
sphinx-inline-tabs
pydata-sphinx-theme
sphinx-plotly-directive

pyvista
pandas
tetgen
matplotlib
plotly
k3d
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
